{% extends 'base.html' %}

{% block content %}
<div class="content-fluid d-flex h-100 justify-content-center align-items-center p-0 mt-1">
    <div class="card">
        <div class="card-header text-center"> {% block sign_title %}{% endblock %} </div>
        <div class="card-body">
            <h5 class="card-title"> {% block sign_header_text %}{% endblock %} </h5>
            {% block sign_content %}{% endblock %}
        </div>
        <div class="card-footer text-center text-muted">
            <p class="card-text small"> {% block sign_footer_text %}{% endblock %} </p>
        </div>
    </div>
</div>
{% endblock %}
