{% extends 'base.html' %}

{% block content %}
<div class="content-fluid d-flex h-100 justify-content-center align-items-center p-0 mt-3">
    <div class="card">
        <div class="card-header"> {% block users_title %}{% endblock %} </div>
        <div class="card-body">
            <h5 class="card-title"> {% block users_header_text %}{% endblock %} </h5>
            {% block users_content %}
            {% endblock %}
        </div>
        <div class="card-footer text-muted">
            <p class="card-text small"> {% block users_footer_text %}{% endblock %} </p>
        </div>
    </div>
</div>
{% endblock %}


