{% extends './base_users.html' %}

{% block title %}SignUp :: {% endblock %}

{% block users_title %}Создание нового профиля{% endblock %}
{% block users_header_text %}Добро пожаловать на {% endblock %}
{% block users_content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}
{% block users_footer_text %}Данные для входа будут отправлены на указанный email. Пожалуйста, удостоверьтесь, что Вы указали тот адрес, к которому имеете доступ{% endblock %}
