{% extends '_base.html' %}

{% block content %}
<div class="container">
	<div class="row pt-3">
		<form method="post">
			<div class="row g-3">
				<!-- Заголовок -->
				<div class="col-md-6">
					<label for="noteTitle" class="form-label">Введите заголовок заметки (до 150 символов)</label>
					<input type="text" class="form-control" name="title" id="noteTitle" placeholder="Заголовок" value="{{ note[0].n_title }}">
				</div>
				<!-- Выбор категории -->
				<div class="col-md-6">
					{# Встраиваем выбор метки #}
					{% include '_tags.html' %}
				</div>
				<!-- Текст заметки -->
				<div class="col-12">
					<label for="noteText" class="form-label">Введите текст заметки (Markdown разметка)</label>
					<textarea class="form-control" name="text" id="noteText" rows="26">{{ note[0].n_body }}</textarea>
				</div>
				<div class="col-12">
					<input type="submit" class="w-100 btn btn-primary btn-lg" value="СОХРАНИТЬ">
				</div>
			</div>
		</form>
		<small class="mb-3"></small>
	</div>
</div>
{% endblock %}