{% extends '_base.html' %}

{% block content %}
<div class="container">
	<div class="row pt-3">
		<form class="needs-validation" novalidate="" method="post">
			<div class="row g-3">
				<!-- Заголовок -->
				<div class="col-md-6">
					<label for="noteTitle" class="form-label">Введите заголовок заметки (до 150 символов)</label>
					<input type="text" class="form-control" name="title" id="noteTitle" placeholder="Заголовок" required="">
					<div class="invalid-feedback">Введите валидный заголовок для заметки.</div>
				</div>
				<!-- Выбор категории -->
				<div class="col-md-6">
					{# Встраиваем выбор метки #}
					{% include '_tags.html' %}
				</div>
				<!-- Текст заметки -->
				<div class="col-12">
					<label for="noteText" class="form-label">Введите текст заметки (Markdown разметка)</label>
					<textarea class="form-control" name="text" id="noteText" rows="26" required="">
Уровень заголовка можно определить количеством # - ## эквивалентно H2
Базовые функции:
	- **жирный**
	- *курсив*
	- список начинается с "-"/"+"/"*"
	- сепараторы можно поставить используя "* * *" или "- - -"
	- код можно записать в косых кавычках, например: `print('Hello World!')`
	- автоматические ссылки можно использовать в треугольных скобках, например: <почтовый-адрес@название.домен>
Перед использованием Markdown размертки следует помнить, что нужно соблюдать количество абзацев до и после специфических блоков/записей.</textarea>
					<div class="invalid-feedback">Please enter your shipping address.</div>
				</div>
				<div class="col-12">
					<input type="submit" class="w-100 btn btn-primary btn-lg" value="СОЗДАТЬ">
				</div>
			</div>
		</form>
		<small class="mb-3"></small>
	</div>
</div>
{% endblock %}